*.log
.DS_Store
node_modules
.cache
dist
example/.parcel-cache/081b21d675a52722
example/.parcel-cache/99cdb6ea7cf68f22
example/.parcel-cache/adbf3c8817e7b823
example/.parcel-cache/data.mdb
example/.parcel-cache/f0ace7bde139ae65.txt
